.root {
    -fx-font-family: 'Lato';
    -fx-font-size: 20px;
    -fx-background-image: url("images/background.jpg");
    -fx-background-size: cover;
}

.closeButton{
    -fx-background-color: #0b3048;
}

.closeButton:hover {
    -fx-background-color: #e94e50;
}

#header{
    -fx-font-size: 40px;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color:#0C70F2;
    -fx-text-fill:#fff;
    -fx-border:none;
    -fx-position:relative;
    -fx-padding: 15px;
    -fx-cursor:pointer;
    -box-shadow: 5px 5px 5px;
    -fx-outline:none;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: #0C70F2;
}

.label {
    -fx-text-fill: white;
}

.chart-content {
    -fx-padding: 30px;
    -fx-background-radius: 20pt;
}

.radio-button {
    -fx-text-fill: white;
}

.chart-legend {
    -fx-text-fill: white;
    -fx-font-weight: 800;
    -fx-background-color: transparent;
}

.axis {
    -fx-tick-label-fill: white;
}

.table-view .column-header {
    -fx-background-color: black;
}